body {
  background-color: white;
  /*overflow: hidden !important;*/
}
#editor {
  width: 100%;
}
#treediv {
  background-color: white;
}
svg {
    pointer-events: all;
}
.zoom-btn-group {
  position: fixed;
  z-index: 100;
}
.bottom {
  bottom: 1rem;
}
.half-right {
  right: 52%;
}
.top {
  top: 1rem;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
.node text { font: 12px sans-serif; }
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.overlay {
  fill: none;
}
/*.columns {
  background-color: gray;
  border: 1px solid black;
}*/