!!! 5
%html
  %head
    %title PEGedit
    %link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css")
    %link(rel="stylesheet" href="./css/style.css")
  %body
    #left
      %ul.nav.nav-tabs
        %li.active(role = "presentation")
          %a(href = "#")
            PEG Editor
          %li(role = "presentation")
            %a#peg_editor_settings(href = "#")
              %span.glyphicon.glyphicon-cog
                Settings
          %li(role = "presentation")
            %a#build_parser_btn(href = "#")
              %span.glyphicon.glyphicon-ok
                Build Parser
          %li(role = "presentation")
            %a(href = "#")
              %label 
                %input#auto-build(type = "checkbox")
                Auto-build parser on change?
      #editor
      .btn-group.zoom-btn-group.bottom.half-right(role="group")
        %button#peg-zoom-out.btn.btn-default(type="button" data-toggle="tooltip" data-placement="bottom" title="Zoom out")
          %span.glyphicon.glyphicon-zoom-out
        %button#peg-reset.btn.btn-default(type="button" data-toggle="tooltip" data-placement="bottom" title="Reset zoom")
          %span.glyphicon.glyphicon-repeat
        %button#peg-zoom-in.btn.btn-default(type="button" data-toggle="tooltip" data-placement="bottom" title="Zoom in")
          %span.glyphicon.glyphicon-zoom-in
  #right
    #top_right
      %ul.nav.nav-tabs
        %li.active(role="presentation")
          %a(href="#")
            Parse string
        %li(role="presentation")
          %a#parse_btn(href="#")
            %span.glyphicon.glyhpicon-play(aria-hidden="true")
              Parse
      #output
    #bottom_right
      %ul.nav.nav-tabs
        %li.active(role="presentation")
          %a(href="#")
            Parse tree
      #treediv
      .btn-group.zoom-btn-group.bottom.half-right(role="group")
        %button#tree-zoom-out.btn.btn-default(type="button" data-toggle="tooltip" data-placement="bottom" title="Zoom out")
          %span.glyphicon.glyphicon-zoom-out
        %button#tree-reset.btn.btn-default(type="button" data-toggle="tooltip" data-placement="bottom" title="Reset zoom")
          %span.glyphicon.glyphicon-repeat
        %button#tree-zoom-in.btn.btn-default(type="button" data-toggle="tooltip" data-placement="bottom" title="Zoom in")
          %span.glyphicon.glyphicon-zoom-in
  %script(src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js")          
  %script(src="./js/peg-0.8.0.js")
  %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  %script(src="./js/bootstrap.min.js")
  %script(src="./js/doc-ready.js")
  %script(src="./js/d3.min.js")
  %script(src="./js/do-tree.js")


