!!!
%html{ lang: 'en' }
  %head
    %title jQuery Docking Layout Sample
    %link{ href: 'bower_components/jqwidgets/jqwidgets/styles/jqx.base.css', rel: 'stylesheet', type: 'text/css' }
    :css
      .jqx-layout-group-auto-hide-content-vertical
      {
          width: 200px;
      }
  %body
    #jqxMenu
      %ul
        %li
          %a{:href => "#"} Home
        %li
          About Us
          %ul
            %li
              %a{:href => "#"} History
            %li
              %a{:href => "#"} Our Vision
        %li
          Services
        %li
          Products
          %ul
            %li
              %a{:href => "#"} New
              %ul
                %li
                  %a{:href => "#"} Corporate Use
                %li
                  %a{:href => "#"} Private Use
            %li
              %a{:href => "#"} Used
              %ul
                %li
                  %a{:href => "#"} Corporate Use
                %li
                  %a{:href => "#"} Private Use
            %li
              %a{:href => "#"} Featured
        %li
          %a{:href => "#"} Gallery
        %li
          %a{:href => "#"} Events
        %li
          %a{:href => "#"} Careers
        %li
          %a{:href => "#"} Contact Us
    / </div>
    #jqxDockingLayout
      / autoHideGroup
      %div{"data-container" => "ToolboxPanel"}
        List of tools
      %div{"data-container" => "HelpPanel"}
        Help topics
      / documentGroup
      %div{"data-container" => "Document1Panel"}
        Document 1 content
      %div{"data-container" => "Document2Panel"}
        Document 2 content
      / bottom tabbedGroup
      %div{"data-container" => "ErrorListPanel"}
        List of errors
      / right tabbedGroup
      %div{"data-container" => "SolutionExplorerPanel"}
        Solution structure
      %div{"data-container" => "PropertiesPanel"}
        List of properties
      / floatGroup
      %div{"data-container" => "OutputPanel"}
        Output
    %script{:src => "bower_components/jquery/dist/jquery.js", :type => "text/javascript"}
    %script{:src => "bower_components/jqwidgets/jqwidgets/jqxcore.js", :type => "text/javascript"}
    %script{:src => "bower_components/jqwidgets/jqwidgets/jqxmenu.js", :type => "text/javascript"}
    %script{:src => "bower_components/jqwidgets/jqwidgets/jqxribbon.js", :type => "text/javascript"}
    %script{:src => "bower_components/jqwidgets/jqwidgets/jqxwindow.js", :type => "text/javascript"}
    %script{:src => "bower_components/jqwidgets/jqwidgets/jqxlayout.js", :type => "text/javascript"}
    %script{:src => "bower_components/jqwidgets/jqwidgets/jqxdockinglayout.js", :type => "text/javascript"}
    %script{:src => "js/app.js", :type => "text/javascript"}
