!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title PEGedit
    %link(rel="stylesheet" href="stylesheets/app.css")
    %link{"rel" => "stylesheet", "href"=>"./bower_components/foundation-icons/foundation_icons_general/stylesheets/general_foundicons.css"}
    %script(src="bower_components/modernizr/modernizr.js")
  %body
    .row
      .small-2.columns
      .small-7.columns
        .center
          %h4 PEGedit &raquo; a web-based PEG.js design tool.
      .small-3.columns
        .right
          %a#login-btn{:href => "#", "data-reveal-id" => "token-prompt"} Login
          %a#help-btn{:href => "#"} Help
    .row
      / Left panel
      .small-6.columns.panel#left-panel
        #peg-editor-menu.off-canvas-wrap{"data-offcanvas" => ""}
          .inner-wrap
            %nav.tab-bar
              %section.left-small
                %a.left-off-canvas-toggle.menu-icon{:href => "#"}
                  %span
              %section.middle.tab-bar-section
                %h1.title PEG.js Editor
            %aside.left-off-canvas-menu
              %ul.off-canvas-list
                %li
                  %label Actions:
                %li#build-parser-btn
                  %a{:href => "#"}
                    %i.foundicon-website
                      Build Parser
                %li
                  %label Open Grammar:
                %li
                  %a#open-gist-btn{:href => "#", "data-reveal-id" => "gist-prompt"} By Gist ID
                %li
                  %a#open-samples-btn{:href => "#"} Samples
                %li#files-in-gist
                  %label Files in collection:
                %li
                  %label Settings
                %li
                  %a#peg-zoom-in-btn{:href => "#"}
                    %i.foundicon-plus
                      Increase Font Size
                %li
                  %a#peg-zoom-out-btn{:href => "#"}
                    %i.foundicon-minus
                      Decrease Font Size
                %li
                  %a#peg-editor-settings-btn{:href => "#"}
                    %i.foundicon-settings
                      Advanced Settings
            %a.exit-off-canvas{:href => "#"}

            #editor


      -#
      -# Right panel
      -#
      .small-6.columns.panel#right-panel

        -# Top right
        .row
          .large-12.columns#top-right
            %nav.top-bar(data-topbar role="navigation")
              %ul.title-area
                %li.name
                  %h1
                    %a(href="#")Parse string editor
                %li.toggle-topbar.menu-icon
                  %a(href="#")
                    %span
              %section.top-bar-section
                %ul.right
                  %ul.button-group.left
                    %li
                      %a#source-zoom-out.button(href="#")-
                    %li
                      %a#source-zoom-in.button(href="#") +
                    %li.divider
                  %li.active.has-form
                    %a#source_editor_settings.button{:href => "#"} Editor Settings
                %ul.left
                  %li.active
                    %a#parse-btn.button(href="#") Parse &raquo;
            #output

        -# Bottom right
        .row
          .large-12.columns#bottom-right
            %p
            %dl.tabs{"data-tab" => ""}
              %dd.active
                %a{:href => "#parser-output"} Parser Output
              %dd
                %a{:href => "#treediv"} Tree View
              %dd
                %a{:href => "#console-view"} Console View
            .tabs-content
              #parser-output.content.active
              #treediv.content
              #console-view.content
            #treediv

    %ol.joyride-list{"data-joyride" => ""}
      %li{"data-options" => "prev_button: false; postRideCallback: function(){alert('test');}"}
        %h4 Welcome to PEGedit
        %p Click next for an extremely brief tour.
        %p You can watch see this again by clicking "Help" at the top of the screen.

      %li{"data-id" => "editor", "data-options" => "tip_location: right; prev_button: false"}
        %h4 Build a parser...
        %p To start, you enter your PEGjs grammar here.

      %li{"data-id" => "stopTwo", "data-options" => "tip_location: left"}
        %h4 Parse Something!
        %p  The text that your PEGjs grammar will be parsing goes here.

      %li{"data-id" => "treediv", "data-options" => "tip_location: top"}
        %h4 And see your parse tree!
        %p You can use the mouse, scroll wheel and gestures to pan or zoom the tree.

      %li{"data-id" => "samples", "data-button" => "Got it!"}
        %h4 Try a sample to start!
        %p Click here to pick one of the sample grammars.

    #gist-prompt.reveal-modal.tiny{"data-reveal" => ""}
      %h4 Load file by Gist ID
      %form
        %row
          .small-2.columns
            %label.right.inline{"for" => "gist-id"}
              Gist ID:
          .small-8.columns
            %input#gist-id{"type" => "text"}
          .small-2.columns
            %a#open_gist_btn.button{:href => "#", "data-reveal-id" => "gist-file-picker"} Go!
      %a.close-reveal-modal &#215;

    #token-prompt.reveal-modal.tiny{"data-reveal" => ""}
      %h4 Enter a GitHub personal access token:
      %form
        %row
          .small-1.columns
            %label.right.inline{"for" => "#access-token"}
          .small-8.columns
            %input#access-token{"type" => "text"}
          .small-3.columns
            %a#set-token-btn.button.small{:href => "#"} Validate
        %row
          .small-2.columns
          .small-8.columns
            %p 
              To generate a GitHub personal access token, go 
              %a{:href => "https://github.com/settings/applications"} here
              \.
          .small-2.columns

    %script(src="./bower_components/jquery/dist/jquery.min.js")
    %script(src="./bower_components/foundation/js/foundation.min.js")
    %script(src="./bower_components/foundation/js/foundation/foundation.joyride.js")
    %script(src="./bower_components/foundation/js/foundation/foundation.offcanvas.js")
    %script(src="./bower_components/foundation/js/foundation/foundation.tab.js")
    %script(src="./bower_components/ace-builds/src/ace.js")
    %script(src="./bower_components/pegjs/peg-0.8.0.js")
    %script(src="./bower_components/hello/src/hello.js")
    %script(src="./bower_components/hello/src/modules/github.js")
    %script(src="./bower_components/d3/d3.min.js")
    %script(src="./bower_components/mousetrap/mousetrap.js")
    %script(src="./js/do-tree.js")
    %script(src="./js/doc-ready.js")
    %script(src="./js/app.js")
    
