%h4 "C Spot Run!"
.panel
  %p
    For our first trick, we're gonna make the phrase "C Spot Run!" appear on the computer screen.
  %p
    Type the following into the code editor on the
    %span.has-tip(data-tooltip aria-haspopup="true" title="Located below on small screens.")
      right:

    %blockquote
      %kbd
        print "C Spot Run!"

  %p
    Then press the
    %kbd
      %i.fa.fa-play
      Parse
    &nbsp;  
    button at the top of the screen.
  %p ... and voil&agrave;! If you look at the space below the code editor,you'll notice that the computer did exactly what you told it to. Maybe it deserves a treat?

  %p
    Go ahead. Teach this dog a new trick... it's still young, you know.
    %a{:href => "?exercise=002"} Exercise 2
    
.panel.callout
  This is a pre-alpha version of c.run. In other words, it isn't done. It's not ready to be used as a tool for teaching students. For self-study, be aware that features remain unimplemented and the c.run language still undergoes breaking changes often (we're still changing our minds on how it goes).