%h4 "C Spot Run!"
.panel
  %p
    That's all for now.

.panel.callout
  This is a pre-alpha version of c.run. In other words, it isn't done. It's not ready to be used as a tool for teaching students. For self-study, be aware that features remain unimplemented and the c.run language still undergoes breaking changes often (we're still changing our minds on how it goes).