%h3 Exercises
.panel.callout
  %p
    This is a pre-alpha version of c.run. In other words, it isn't done. It's not ready to be used as a tool for teaching students. For self-study, be aware that features remain unimplemented and the c.run language still undergoes breaking changes often (we're still changing our minds on how it goes).  
.panel
  %p
    Welcome to c.run (pronounced "see spot run"). If you're familiar with the old
    %em Dick and Jane
    series of books to teach children to read, then the name ought to sound familiar. We've stolen... I mean, borrowed under terms of fair use, more than just a catchy phrase from its namesake. The pedagogical philospohy of this site follows the old and effective formula in those classic books.
  %p
    The book series started with the simple and iconic sentence, "See Spot run." Similarly, we're going to start you out with really simple programming consturcts. Like the books, we'll also build upon them, stringing them up together, nesting them inside each other, and (maybe) occasionally, showing you some exceptions.
  %p
    By the end of the process, you will have learned enough of the necessary constructs and ideas solve almost any general programming problem...
  %p
    But, programming languages are a lot like the language taught in the books (English), knowing the rules of grammar is a far cry from being great writer. But like writing, it's fun and you get better with practice, so don't give up!
  %p
    When you're ready, choose
    %a{:href => "#"} Exercise 1
    from the list on the left.